@page
@model WebKlient.Pages.DisksModel
@{
    ViewData["Title"] = "Startside";
}

<h1>Velkommen</h1>

<p>Du er er logget ind som " "</p>

<p>På denne administrationsside er det muligt at få et overblik over registrede diske, slettemetoder og sletterapporter</p>

