@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privatlivspolitik"; // Sætter sidetitlen til "Privatlivspolitik"
}

<h1>@ViewData["Title"]</h1> <!-- Viser sidetitlen som overskrift -->

<p>Data er beskyttet under gældende lovgivning</p> <!-- Viser en besked om, at data er beskyttet -->
