@page
@model WebKlient.Pages.WipeMethodsModel
@{
    ViewData["Title"] = "Slettemetoder";
}
<h1>Slettemetoder</h1>


@if (Model.WipeMethods == null || !Model.WipeMethods.Any())
{
    <p>No methods available.</p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Overwrite Pass</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WipeMethods)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.OverwritePass</td>
            </tr>
        }
    </tbody>
</table>
}