html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Tilføj dine baggrundsindstillinger her */
    /*background-image: url('/images/background.jpg'); /* Sørg for, at billedet er i den korrekte mappe */
    background-color: #F5F5DC; /* Hvid baggrund */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #f0f0f0; /* Fallback-farve */


}
